---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import "./post.css";

export async function getStaticPaths() {
  const response = await fetch("https://blog.djmixoftheweek.com/graphql", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
        query AllSlugs {
          posts {
            nodes {
              slug
            }
          }
        }
        `,
    }),
  });

  const { data } = await response.json();

  const posts = data.posts.nodes;

  const paths = posts.map((post) => {
    return { params: post };
  });

  return paths;
}

const { slug } = Astro.params;

const singleResponse = await fetch("https://blog.djmixoftheweek.com/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query SinglePost($id: ID = "${slug}") {
          post(idType: SLUG, id: $id) {
            date
            content
            title
            featuredImage {
              node {
                sourceUrl
                caption
              }
            }
            seo {
              opengraphTitle
              opengraphDescription
              opengraphSiteName
              opengraphImage {
                uri
                altText
                mediaDetails {
                  file
                  height
                  width
                }
                mediaItemUrl
                sourceUrl
                srcSet
              }
            }
            mixcloud {
              mixcloud
            }
            soundcloud {
              soundcloud
            }
          }
        }
        `,
  }),
});

const { data } = await singleResponse.json();

const singlePost = data.post;

const formattedDate = new Date(singlePost.date).toLocaleDateString("en-GB", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
});
---

<BaseLayout
  pageTitle={singlePost.title}
  description={singlePost.seo.opengraphDescription}
  opengraphImage={singlePost.seo.opengraphImage.sourceUrl}
>
  <div class="image-container">
    <Image
      src={singlePost.featuredImage.node.sourceUrl}
      alt={singlePost.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />

    <figcaption set:html={singlePost.featuredImage.node.caption} />
  </div>
  <article class="container">
    <h2>{singlePost.title}</h2>
    <date>
      Posted: {formattedDate}
    </date>
    <div set:html={singlePost.content} />
    <div set:html={singlePost.soundcloud.soundcloud} />
    <br />
    <div set:html={singlePost.mixcloud.mixcloud} />
  </article>
</BaseLayout>
