---
import { Image } from "astro:assets";
// import logo3 from "../../images/logos/rdaw-logo-3.webp";
import "./header.css";
import he from "he";

let popularPosts;

try {
  const response = await fetch(
    "https://blog.djmixoftheweek.com/wp-json/top-10/v1/popular-posts"
  );
  if (!response.ok) throw new Error(`Failed to fetch: ${response.status}`);
  popularPosts = await response.json();
} catch (error) {
  console.error("Error fetching top posts:", error);
}

const currentUrl = Astro.site || "http://localhost:4321";

const decodeHtmlEntities = (text) => {
  return he.decode(text);
};
---

<header>
  <div class="nav-container">
    <!-- <a class="logo" href="/"><Image src={logo3} alt="A bird." width="100" height="100" /></a> -->
    <h1 class="sr-only">DJ Mix Of The Week</h1>
    <div class="title">
      <a href="/">DJ Mix Of The Week</a>
    </div>
    <button id="nav-toggle" aria-label="Toggle Navigation Menu"
      ><span></span></button
    >

    <nav id="nav-menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/league-of-mixes">League Of Mixes</a>
    </nav>
    {
      popularPosts && (
        <div class="popular-posts">
          <h3>Popular Mixes</h3>
          <ul>
            {popularPosts.map((post) => (
              <li>
                <a href={`${currentUrl}${post.slug}`}>
                  {decodeHtmlEntities(post.title.rendered)} ({post.visits})
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>

  <script>
    const navToggle = document.getElementById("nav-toggle");
    const navMenu = document.getElementById("nav-menu");

    navToggle.addEventListener("click", function () {
      this.classList.toggle("open");

      if (navMenu.style.maxHeight) {
        navMenu.style.maxHeight = null; // Collapse
      } else {
        navMenu.style.maxHeight = navMenu.scrollHeight + "px"; // Expand to actual height
      }
    });
  </script>
</header>
